
addressbook-web-tests/.DS_Store
.DS_Store
sandbox/build/test-results/test/binary/output.bin.idx
sandbox/build/test-results/test/binary/output.bin
sandbox/build/test-results/test/binary/results.bin
sandbox/build/reports/tests/test/css/base-style.css
sandbox/build/reports/tests/test/css/style.css
sandbox/build/reports/tests/test/index.html
sandbox/.gradle/vcs-1/gc.properties
sandbox/.gradle/buildOutputCleanup/cache.properties
sandbox/.gradle/buildOutputCleanup/outputFiles.bin
sandbox/.gradle/checksums/checksums.lock
sandbox/.gradle/checksums/md5-checksums.bin
sandbox/.gradle/buildOutputCleanup/buildOutputCleanup.lock
sandbox/.gradle/checksums/sha1-checksums.bin
sandbox/build/tmp/compileTestJava/source-classes-mapping.txt
sandbox/build/tmp/compileJava/source-classes-mapping.txt
sandbox/.gradle/6.9.4/javaCompile/taskHistory.bin
sandbox/.gradle/6.9.4/javaCompile/classAnalysis.bin
sandbox/.gradle/6.9.4/javaCompile/jarAnalysis.bin
sandbox/.gradle/6.9.4/javaCompile/javaCompile.lock
*.bin
*.iml
*.xml
*.lock
